body{
    background-color: #000000;
    box-sizing: border-box;
}

h1 {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

#header h3{
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}