body{
    background-color: #000000;
    box-sizing: border-box;
}

div.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

h3.download {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}